<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/styles.css" />
<title>Shopping Cart</title>
</head>
<body>
	<header>
		<div class="overlay"></div>
		<nav>
			<h2 class="title">Let's Shop</h2>
			<ul>
				<li class="home" action="/home"><a href="/home">Home</a></li>
				<li><a href="a">About</a></li>
				<li class="cart" action="/cart">
					<a href="/cart">
					<ion-icon name="basket"></ion-icon>Cart<span>0</span>
					</a>
			</ul>

		</nav>
	</header>
	<div class="products-container">
		<div class="product-header">
			<h5 class="product-title">PRODUCT</h5>
			<h5 class="price">PRICE</h5>
			<h5 class="quantity">QUANTITY</h5>
			<h5 class="total">TOTAL</h5>
		</div>
		<div class="products">
				
		</div>
	</div>
	<script src="js/cartscript.js"></script>
	<script src="https://unpkg.com/ionicons@4.1.1/dist/ionicons.js"></script>
	
</body>
</html>